.env
# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo

# SQLite Database
*.db
*.sqlite3

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/



# Windows
Thumbs.db

# Build
build/
dist/

# Cache
.cache/
.pytest_cache/